<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Offers - Api</title>
    <link rel="icon" href="./img/icon.png" type="image/png" />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="root">
      <div>
        <h1>Offers <small>API</small></h1>
        <p>
          <a
            href="https://documenter.getpostman.com/view/11240421/UzBqqRLA"
            target="_blank"
          >
            <i class="fa fa-file-text" aria-hidden="true"></i> Documentation</a
          >
          <a
            href="https://github.com/luisangelsalcedo/offer-backend"
            target="_blank"
          >
            <i class="fa fa-github-alt" aria-hidden="true"></i> Repository</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
